<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><p class="text-muted">(Baymax team, Comcast 2015)</p></div>
            <% if (locals.appState.get('env') == 'development') {%>
            <div class="col-md-2">
                <div id="env-id">ENV: <%= locals.appState.get('env') %></div>
            </div>
            <div class="col-md-2">
                <div id="collection-div-id">
                    <% if(locals.collection){ %>
                    <%= collection.givenName %>(<%= collection.size() %>)
                    <% }
                    else { %>
                    (no collection detected)
                    <% } %>
                </div>
            </div>
            <div class="col-md-2">
                <div id="model-div-id">
                    <% if(locals.model) { %>
                    <%= model.givenName %>, cid: <%= model.cid %> <p>_id: <%= model.get('_id') %></p>
                    <% } else { %>
                    (no model detected)
                    <%
                    } %>
                </div>
            </div>
            <div class="col-md-2">
                <!--<progress style="display:none" id="hot-reload-progress-bar" value="0" max="100"></progress>-->
                <progress style="background-color: green; height:20px; width:300px;" id="hot-reload-progress-bar" value="100" max="100"></progress>
            </div>
            <% }%>
        </div>

    </div>
</footer>
